* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.align_top{
  align-items: flex-start;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0px;
  padding: 30px;
}

label {
  padding: 6px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

input {
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid gray;
}

textarea {
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid gray;
}

.btn{
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-right: 10px;
}

.btn_blue{
  background-color: rgb(78, 78, 255);
  color: white;
}
.btn_yellow{
  background-color: yellow;
}

.grid{
  padding: 30px;
  display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.text_gray{
  color: rgb(144, 144, 144);
}
.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    max-width: 100%;
}

.border_green{
  border: 2px solid green;
}
.border_yellow{
  border: 2px solid yellow;
}